main {
  min-height: 90vh;

  .card {
    .card-body {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

h1 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
